aiml-security-assessment/statemachine/assessments.asl.json
{
    "Comment": "A state machine that performs AI/ML security assessments.",
    "StartAt": "Cleanup S3 Bucket",
    "States": {
        "Cleanup S3 Bucket": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${CleanupBucketFunction}",
                "Payload": {
                    "Execution.$": "$$.Execution",
                    "StateMachine.$": "$$.StateMachine"
                }
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "ResultPath": null,
            "Next": "IAM Permission Caching"
        },
        "IAM Permission Caching": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${IAMPermissionCachingFunction}",
                "Payload": {
                    "Execution.$": "$$.Execution",
                    "StateMachine.$": "$$.StateMachine"
                }
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "ResultPath": null,
            "Next": "Run Security Assessments"
        },
        "Run Security Assessments": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "Bedrock Security Assessment",
                    "States": {
                        "Bedrock Security Assessment": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::lambda:invoke",
                            "Parameters": {
                                "FunctionName": "${BedrockSecurityAssessmentFunction}",
                                "Payload": {
                                    "Execution.$": "$$.Execution",
                                    "StateMachine.$": "$$.StateMachine"
                                }
                            },
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "Lambda.ServiceException",
                                        "Lambda.AWSLambdaException",
                                        "Lambda.SdkClientException",
                                        "Lambda.TooManyRequestsException"
                                    ],
                                    "IntervalSeconds": 1,
                                    "MaxAttempts": 3,
                                    "BackoffRate": 2,
                                    "JitterStrategy": "FULL"
                                }
                            ],
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Sagemaker Security Assessment",
                    "States": {
                        "Sagemaker Security Assessment": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::lambda:invoke",
                            "Parameters": {
                                "FunctionName": "${SagemakerSecurityAssessmentFunction}",
                                "Payload": {
                                    "Execution.$": "$$.Execution",
                                    "StateMachine.$": "$$.StateMachine"
                                }
                            },
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "Lambda.ServiceException",
                                        "Lambda.AWSLambdaException",
                                        "Lambda.SdkClientException",
                                        "Lambda.TooManyRequestsException"
                                    ],
                                    "IntervalSeconds": 1,
                                    "MaxAttempts": 3,
                                    "BackoffRate": 2,
                                    "JitterStrategy": "FULL"
                                }
                            ],
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "AgentCore Security Assessment",
                    "States": {
                        "AgentCore Security Assessment": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::lambda:invoke",
                            "Parameters": {
                                "FunctionName": "${AgentCoreSecurityAssessmentFunction}",
                                "Payload": {
                                    "Execution.$": "$$.Execution",
                                    "StateMachine.$": "$$.StateMachine"
                                }
                            },
                            "Retry": [
                                {
                                    "ErrorEquals": [
                                        "Lambda.ServiceException",
                                        "Lambda.AWSLambdaException",
                                        "Lambda.SdkClientException",
                                        "Lambda.TooManyRequestsException"
                                    ],
                                    "IntervalSeconds": 1,
                                    "MaxAttempts": 3,
                                    "BackoffRate": 2,
                                    "JitterStrategy": "FULL"
                                }
                            ],
                            "End": true
                        }
                    }
                }
            ],
            "Next": "Generate Consolidated Report"
        },
        "Generate Consolidated Report": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${GenerateConsolidatedReportFunction}",
                "Payload": {
                    "Execution.$": "$$.Execution"
                }
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException",
                        "Lambda.TooManyRequestsException"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 3,
                    "BackoffRate": 2,
                    "JitterStrategy": "FULL"
                }
            ],
            "End": true
        }
    }
}
